<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="referrer" content="no-referrer"/>
    <meta name="referrer" content="unsafe-url"/>
    <meta name="referrer" content="origin"/>
    <meta name="referrer" content="no-referrer-when-downgrade"/>
    <meta name="referrer" content="origin-when-cross-origin"/>
    <title>Health App</title>

    {% block head_scripts %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
    {% block post_scripts %}
    {% endblock %}
</html>